<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="manifest" href="/manifest.json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="ConstraintLayout">
<meta name="apple-mobile-web-app-title" content="ConstraintLayout">
<meta name="theme-color" content="#00386F">
<meta name="msapplication-navbutton-color" content="#00386F">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" sizes="256x256" href="assets/images/Icon1_256_blue.png">
<link rel="apple-touch-icon" sizes="256x256" href="assets/images/Icon1_256_blue.png">
<link rel="icon" sizes="128x128" href="assets/images/Icon1_128_blue.png">
<link rel="apple-touch-icon" sizes="128x128" href="assets/images/Icon1_128_blue.png">
<link rel="icon" sizes="64x64" href="assets/images/Icon1_64_blue.png">
<link rel="apple-touch-icon" sizes="64x64" href="assets/images/Icon1_64_blue.png">
<link rel="icon" sizes="48x48" href="assets/images/Icon1_48_blue.png">
<link rel="apple-touch-icon" sizes="48x48" href="assets/images/Icon1_48_blue.png">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}" />
<link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
<link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title>{{ site.title | default: site.github.repository_name }}</title>
