{% capture html %}
<ul>
    {% assign entries = site.pages | sort: "path" %}
    {% for entry in entries %}

    {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
    {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

    {% if current == include.context and entry.index != false %}
    <li class="{% if page.url contains entry.url %}active{% endif %}">
        <a href="{{ slug | absolute_url }}">{{ entry.title }}</a>
        {% if page.url contains entry.url %}
            {% include submenu.html context=entry.url %}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
