{% capture html %}
<ul class="sub">
    {% assign entries = site.pages | sort: "path" | sort: "order" %}
    {% for entry in entries %}

    {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
    {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

    {% if entry.url != include.context and entry.url contains include.context  %}
    <li class="{% if page.url == entry.url %}active{% endif %}">
        <a href="{{ entry.url | absolute_url }}">{{ entry.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
