<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    {% include head.html %}
</head>

<body>
{% include header.html %}
<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
            <h1>{{ page.title }}</h1>
            {% unless page.author == null %}
            {% assign authornames = site.emptyArray %}
            {% assign authorlinks = site.emptyArray %}
            {% assign contributors = site.pages | where: "layout", "contributor" %}
            {% for contributor in contributors %}
            {% assign contributor_id = contributor.name | remove: ".md" %}
            {% assign authors = page.author | split:',' %}
            {% for name in authors %}
            {% if contributor_id == name %}
            {% assign authorname = contributor.forename | append: ' ' | append: contributor.surname %}
            {% assign authorlink = contributor_id | append: '.html' | prepend: 'contributors/' | relative_url %}
            {% assign authornames = authornames | push: authorname %}
            {% assign authorlinks = authorlinks | push: authorlink %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% if authornames.size > 0 %}
            <h3 class="author">
            {% assign endindex = authornames.size | minus: 1 %}
            {% for i in (0..endindex) %}
            <a href="{{ authorlinks[i] }}">{{ authornames[i] }}</a>{% if authornames[i] != authornames.last %}, {% endif %}
            {% endfor %}
            </h3>
            {% endif %}
            {% endunless %}
            {% if page.cl_version != null and page.as_version == null %}
            Note: All of the examples in this article have been created using <code class="highlighter-rouge">ConstraintLayout</code> V{{ page.cl_version }}. You may see differences if you are using a different version.
            {% endif %}
            {% if page.cl_version == null and page.as_version != null %}
            Note: All of the examples in this article have been created using Android Studio V{{ page.as_version }}. You may see differences if you are using a different version.
            {% endif %}
            {% if page.as_version != null and page.cl_version != null %}
            Note: All of the examples in this article have been created using Android Studio V{{ page.as_version }} and <code class="highlighter-rouge">ConstraintLayout</code> V{{ page.cl_version }}. You may see differences if you are using different versions.
            {% endif %}
            {{ content }}
        </section>

        {% include sidebar.html %}
    </div>
</div>

{% include analytics.html %}
</body>
</html>
