<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    {% include head.html %}
</head>

<body>
{% include header.html %}
<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
            <h1>{{ page.title }}</h1>
            {% unless page.author == null %}
            {% assign contributors = site.pages | where: "layout", "contributor" %}
            {% for contributor in contributors %}
            {% assign contributor_id = contributor.name | remove: ".md" %}
            {% if contributor_id == page.author %}
            <h3 class="author"><a href="{{ contributor_id | append: '.html' | prepend: 'contributors/' | relative_url }}">{{ contributor.forename }} {{ contributor.surname }}</a></h3>
            {% endif %}
            {% endfor %}
            {% endunless %}
            {% if page.cl_version != null and page.as_version == null %}
            Note: All of the examples in this article have been created using <code class="highlighter-rouge">ConstraintLayout</code> V{{ page.cl_version }}. You may see differences if you are using a different version.
            {% endif %}
            {% if page.cl_version == null and page.as_version != null %}
            Note: All of the examples in this article have been created using Android Studio V{{ page.as_version }}. You may see differences if you are using a different version.
            {% endif %}
            {% if page.as_version != null and page.cl_version != null %}
            Note: All of the examples in this article have been created using Android Studio V{{ page.as_version }} and <code class="highlighter-rouge">ConstraintLayout</code> V{{ page.cl_version }}. You may see differences if you are using different versions.
            {% endif %}
            {{ content }}
        </section>

        {% include sidebar.html %}
    </div>
</div>

{% include analytics.html %}
</body>
</html>
